<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="http://kevinburke.bitbucket.org/markdowncss/markdown.css" rel="stylesheet"></link
</head>
<body>


<div id="header">
  <span class='big'>{{ site.title }}</span>
  <span class='small'>{{ site.subtitle }}</span>
</div>

<div id="nav">
  {% assign tabs = site.tabs | sort: 'position' %}
  {% for entry in tabs %}
    {% if entry.in_tab_list %}
      <a href = "{{entry.url}}">{{ entry.title }}</a>
      {% unless forloop.last %}
        •
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>

<div id="content">
  {{ content }}
</div>

</body>
</html>

